@media screen and (max-width: 1024px) {
  .main_secstion1 h1 {
    font-size: 30px;
  }

  .main_secstion1 p {
    font-size: 16px;
  }

  .text button {
    font-size: 16px;
    transform: translateY(0px);
  }

  .box_wrap {
    justify-content: center;
  }

  .box1,
  .box3,
  .box4 {
    display: none;
  }

  .main_secstion2 > div:first-child {
    flex-direction: column;
    justify-self: center;
    align-items: flex-start;
  }

  .text_wrap {
    width: 100%;
    text-align: center;
  }

  .text_wrap::after {
    margin-top: 100px;
  }

  .user_btn1 {
    margin: 30px auto;
  }

  .main_secstion2_icons_wrap {
    padding: 150px 0px 100px 0px;
  }
}

@media screen and (max-width: 480px) {
  .top1 > span {
    margin: 0;
    left: calc(50% - 60.5px);
  }

  .top1 > button {
    display: none;
  }

  /*사이드 메뉴*/
  .burger_wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 10px 0 0 10px;
    cursor: pointer;
  }

  .burger {
    width: 30px;
    height: 3px;
    background-color: black;
    margin-top: 5px;
  }

  .side_menu_wrap {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 40vw;
    top: 0;
    background-color: white;
    z-index: 3;
    padding: 10px;
    transform: translate(-60vw, 0);
    transition: 0.5s;
    position: fixed;
  }

  .side_menu_wrap_show {
    transform: translate(0, 0);
  }

  .side_menu_ul {
    padding: 0;
    margin-top: 50px;
  }

  .side_menu_li {
    padding: 20px;
    font-weight: 500;
    border-bottom: 1px solid darkgray;
  }

  .side_menu_li:nth-child(2) {
    clear: both;
  }

  .side_menu_li i {
    float: right;
    font-size: 25px;
    position: relative;
    top: -15px;
    cursor: pointer;
    right: -10px;
  }

  .top1 > ul {
    display: none;
  }

  .top2 h1 {
    font-size: 15px;
  }

  .text {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text h1 {
    font-size: 25px;
  }

  .text button {
    white-space: nowrap;
    margin: 20px auto;
    padding: 15px 20px;
  }

  .box_wrap {
    margin-top: 10px;
  }

  .box2 {
    width: 300px;
    height: 200px;
    margin-bottom: 150px;
  }

  .move_box {
    width: 305px;
    height: 250px;
  }

  .main_secstion2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main_secstion2 > div:first-child {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main_secstion2_img_wrap {
    width: 300px;
    height: 200px;
    margin: 80px;
    overflow: hidden;
  }

  .main_secstion2_img_animation {
    width: 70px;
  }

  .text_wrap {
    margin: 0;
  }

  .main_secstion2_icons_wrap {
    display: flex;
  }

  .main_secstion2_icons_wrap h4 {
    font-size: 13px;
  }

  .main_secstion2_icons_wrap p {
    display: none;
  }

  .main_secstion2_icons_wrap span {
    font-size: 12px;
  }

  .card-box {
    width: 400px;
    height: 300px;
  }

  .card-box img {
    width: 100%;
    height: 100%;
  }

  .custom_code {
    text-align: center;
  }

  .custom_code span {
    font-size: 30px;
  }

  .custom_code_content_wrap h1 {
    font-size: 20px;
  }

  .custom_code_content_wrap button {
    font-size: 12px;
  }

  .custom_code_content_wrap p {
    display: none;
  }

  .write_code > div {
    display: none;
  }

  .main_section4 input {
    display: none;
  }

  .footer_list_wrap {
    display: none;
  }
}
